<footer class="page-footer font-small pt-4 letra">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase titFoo">Wiily Wonka chocolates</h5>
          <p class="pfoot">Cada gota del río es chocolate fundido de la mejor claidad, la cascada es lo más importante, ahi se bate el chocolate y se mezcla para que sea más ligero.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <p>Al final, Charlie Bucket ganó una fábrica de chocolate, pero Willy Wonka ganó mucho más: una Familia.</p>

            

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5>Somos los creadores de la musica y los diseñadores de los sueños.</h5>

           
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
       Lorena Sánchez M.
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
