<!-- navbar -->
<nav class="navbar sticky-top navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-dark">
      <i class="material-icons" style="color: #2b1d60; font-size:28px;">menu</i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <a class="navbar-brand" href="/">
          <div>
            <!-- *ngIf, *ngSwitch... -->
            <img class="d-inline-b dimension" [src]="imagen" />
          </div>
        </a>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/" aria-disabled="true">Inicio</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/factory" aria-disabled="true">Fabrica</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/product" aria-disabled="true">Delicias</a>
      </li>

    </ul>
  </div>
</nav>



