
    <h1 class="h1Tit">FABRICA DE CHOCOLATE Y SUS MAQUINAS</h1>

    <div class="container cotenedorgridFac">

        <div class="row d-flex flex-row align-items-center">

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                
                  <div class="card card2">
                    <h3 class="titCard">{{cardMac1.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac1.img}} alt="Machine1">
                    <div class="card-body card1">
                        
                    <p>{{cardMac1.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac2.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac2.img}} alt="Machine2">
                    <div class="card-body card1">
                        <p>{{cardMac2.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac3.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac3.img}} alt="Machine3">
                    <div class="card-body card1">
                        <p>{{cardMac3.funcion}}</p>
                    </div>
                    
                  </div>
            </div>


        </div>

        <div class="row d-flex flex-row align-items-center">
  
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac4.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac4.img}} alt="Machine3">
                    <div class="card-body card1">
                        <p>{{cardMac4.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac5.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac5.img}} alt="Machine3">
                    <div class="card-body card1">
                        <p>{{cardMac5.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac6.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac6.img}} alt="Machine3">
                    <div class="card-body card1">
                        <p>{{cardMac6.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

        </div>

        

       

    </div>

