
    <h1 class="h1Tit">FABRICA DE CHOCOLATE Y SUS DULCES</h1>

    <div class="container cotenedorgridFac">

        <div class="row d-flex flex-row align-items-center">

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                
                  <div class="card card2">
                    <h3 class="titCard">{{cardMac1.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac1.img}} alt="Candy1">
                    <div class="card-body card1">
                        
                    <p>{{cardMac1.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac2.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac2.img}} alt="Candy2">
                    <div class="card-body card1">
                        <p>{{cardMac2.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac3.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac3.img}} alt="Candy3">
                    <div class="card-body card1">
                        <p>{{cardMac3.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac4.nombre}}</h3>
                    <img class ="cardImg img-fluid " src= {{cardMac4.img}} alt="Candy4">
                    <div class="card-body card1">
                        <p>{{cardMac4.funcion}}</p>
                    </div>
                    
                  </div>
            </div>


        </div>

        <div class="row d-flex flex-row align-items-center">
  
            
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac5.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac5.img}} alt="Candy5">
                    <div class="card-body card1">
                        <p>{{cardMac5.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac6.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac6.img}} alt="Candy6">
                    <div class="card-body card1">
                        <p>{{cardMac6.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac7.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac7.img}} alt="Candy7">
                    <div class="card-body card1">
                        <p>{{cardMac7.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac8.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac8.img}} alt="Candy8">
                    <div class="card-body card1">
                        <p>{{cardMac8.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            
        </div> 
        <h1 CLASS="h1Tit">NUESTRO EQUIPO</h1>
        <div class="row d-flex flex-row align-items-center">
  
            
  
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac9.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac9.img}} alt="Candy5">
                    <div class="card-body card1">
                        <p>{{cardMac9.funcion}}</p>
                    </div>
                    
                  </div>
            </div>
  
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="card card2">
                    <h3 class="titCard">{{cardMac10.nombre}}</h3>
                    <img class ="cardImg img-fluid" src= {{cardMac10.img}} alt="Candy6">
                    <div class="card-body card1">
                        <p>{{cardMac10.funcion}}</p>
                    </div>
                    
                  </div>
            </div>

            
  
            
        </div>  
    </div>

